# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [29]:
# import numpy and pandas
import pandas as pd
import numpy as np

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents.

In [19]:
# Your code here:
employees_data = pd.read_csv('Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [20]:
# Your code here:

employees_data.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [21]:
# Your code here:
employees_missing_data = employees_data.isna()
employees_missing_data

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,False,False,False,False,False,True,False,True
1,False,False,False,False,False,True,False,True
2,False,False,False,False,False,True,False,True
3,False,False,False,False,False,True,False,True
4,False,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...
33178,False,False,False,False,False,True,False,True
33179,False,False,False,False,False,True,False,True
33180,False,False,False,False,False,True,False,True
33181,False,False,False,False,False,True,False,True
33182,False,False,False,False,False,True,False,True

In [22]:
missing_counts = employees_missing_data.sum()
print("Missing Data in Each Column:")
print(missing_counts)

Missing Data in Each Column:
Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25161
Annual Salary         8022
Hourly Rate          25161
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [24]:
# Your code here:
employment_type_counts = employees_data['Salary or Hourly'].value_counts()
print("Count of Hourly vs. Salaried Employees:")
print(employment_type_counts)

Count of Hourly vs. Salaried Employees:
Salary or Hourly
Salary    25161
Hourly     8022
Name: count, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [25]:
# Your code here:
department_counts = employees_data['Department'].value_counts()
print("Count of Employees in Each Department:")
print(department_counts)

Count of Employees in Each Department:
Department
POLICE                   13414
FIRE                      4641
STREETS & SAN             2198
OEMC                      2102
WATER MGMNT               1879
AVIATION                  1629
TRANSPORTN                1140
PUBLIC LIBRARY            1015
GENERAL SERVICES           980
FAMILY & SUPPORT           615
FINANCE                    560
HEALTH                     488
CITY COUNCIL               411
LAW                        407
BUILDINGS                  269
COMMUNITY DEVELOPMENT      207
BUSINESS AFFAIRS           171
COPA                       116
BOARD OF ELECTION          107
DoIT                        99
PROCUREMENT                 92
INSPECTOR GEN               87
MAYOR'S OFFICE              85
CITY CLERK                  84
ANIMAL CONTRL               81
HUMAN RESOURCES             79
CULTURAL AFFAIRS            65
BUDGET & MGMT               46
ADMIN HEARNG                39
DISABILITIES                28
TREASURER                   22
HUMAN RELATIONS             16
BOARD OF ETHICS              8
POLICE BOARD                 2
LICENSE APPL COMM            1
Name: count, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [30]:
from scipy.stats import ttest_1samp

In [28]:
# Your code here:
hourly_wage_data = employees_data[employees_data['Salary or Hourly'] == 'Hourly']['Hourly Rate']

t_statistic, p_value = ttest_1samp(hourly_wage_data, 30)

print("One-Sample T-Test Results:")
print(f"T-Statistic: {t_statistic}")
print(f"P-Value: {p_value}")

# Checking if the result is significant at a 95% confidence level
alpha = 0.05
if p_value < alpha/2:  # Divide alpha by 2 for a two-sided test
    print("Reject the null hypothesis. The mean hourly wage is significantly different from $30/hr.")
else:
    print("Fail to reject the null hypothesis. There is not enough evidence to suggest a significant difference in the mean hourly wage.")

One-Sample T-Test Results:
T-Statistic: 20.6198057854942
P-Value: 4.3230240486229894e-92
Reject the null hypothesis. The mean hourly wage is significantly different from $30/hr.

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [33]:
#need to have my dataset closer
employees_data.head(10)

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86
5,"ABBASI, CHRISTOPHER",STAFF ASST TO THE ALDERMAN,CITY COUNCIL,F,Salary,NaN,50436.0,NaN
6,"ABBATACOLA, ROBERT J",ELECTRICAL MECHANIC,AVIATION,F,Hourly,40.0,NaN,46.10
7,"ABBATE, JOSEPH L",POOL MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,35.60
8,"ABBATEMARCO, JAMES J",FIRE ENGINEER-EMT,FIRE,F,Salary,NaN,103350.0,NaN
9,"ABBATE, TERRY M",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN

In [32]:
# Your code here:

police_salary_data = employees_data[employees_data['Department'] == 'Police']['Annual Salary']

In [37]:

t_statistic, p_value = ttest_1samp(police_salary_data, 86000)
print("One-Sample T-Test Results:")
print(f"T-Statistic: {t_statistic}")
print(f"P-Value: {p_value}")

alpha = 0.05
if p_value / 2 < alpha and t_statistic > 0:  # Divide p-value by 2 for a one-tailed test, and check for a positive t-statistic
    print("Reject the null hypothesis. Salaries in the police force are significantly higher than $86,000/year.")
else:
    print("Fail to reject the null hypothesis. There is not enough evidence to suggest that salaries in the police force are significantly higher than $86,000/year.")

One-Sample T-Test Results:
T-Statistic: nan
P-Value: nan
Fail to reject the null hypothesis. There is not enough evidence to suggest that salaries in the police force are significantly higher than $86,000/year.

Using the `crosstab` function, find the department that has the most hourly workers.

In [39]:
# Your code here:
cross_tab = pd.crosstab(employees_data['Department'], employees_data['Salary or Hourly'])
hourly_counts = cross_tab['Hourly']
department_most_hourly_workers = hourly_counts.idxmax()
print("Department that has the most Hourly Workers:")
print(department_most_hourly_workers)

Department that has the most Hourly Workers:
STREETS & SAN

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [43]:
# Your code here:
hourly_wage_data_for_most_hourly_workers = employees_data[employees_data['Department'] == department_most_hourly_workers]['Hourly Rate']

In [44]:
t_statistic, p_value = ttest_1samp(hourly_wage_data_for_most_hourly_workers, 35)

print("One-Sample T-Test Results:")
print(f"T-Statistic: {t_statistic}")
print(f"P-Value: {p_value}")

# Checking if the result is significant at a 95% confidence level for a one-tailed test
alpha = 0.05
if p_value / 2 < alpha and t_statistic < 0:  # Here I have to divide p-value by 2 for a one-tailed test, and check for a negative t-statistic
    print("Reject the null hypothesis. Hourly wage in the department with the most hourly workers is significantly less than $35/hour.")
else:
    print("Fail to reject the null hypothesis. There is not enough evidence to suggest that hourly wage in the department with the most hourly workers is significantly less than $35/hour.")

One-Sample T-Test Results:
T-Statistic: nan
P-Value: nan
Fail to reject the null hypothesis. There is not enough evidence to suggest that hourly wage in the department with the most hourly workers is significantly less than $35/hour.

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [53]:
#libraries
from scipy.stats import t, sem

In [49]:
# Your code here:
hourly_wage_data_all_hworkers = employees_data[employees_data['Salary or Hourly'] == 'Hourly']['Hourly Rate']

standard_error = sem(hourly_wage_data_all_hworkers)
confidence_level = 0.95
degrees_of_freedom = len(hourly_wage_data_all_hworkers) - 1

confidence_interval = t.interval(confidence_level, degrees_of_freedom, loc=hourly_wage_data_all_hworkers.mean(), scale=standard_error)

print(f"95% Confidence Interval for Mean Hourly Wage: ({confidence_interval[0]}, {confidence_interval[1]})")

95% Confidence Interval for Mean Hourly Wage: (32.52345834488425, 33.05365708767623)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [58]:
police_salary_data_all = employees_data[(employees_data['Department'] == 'Police') & (employees_data['Salary or Hourly'] == 'Salaried')]['Annual Salary']

# Check if the sample size is greater than 1 before calculating the standard error
if len(police_salary_data_all) > 1:
    standard_error = sem(police_salary_data_all)
    
    confidence_level = 0.95
    degrees_of_freedom = len(police_salary_data_all) - 1

    confidence_interval = t.interval(confidence_level, degrees_of_freedom, loc=police_salary_data_all.mean(), scale=standard_error)

    print(f"95% Confidence Interval for Mean Salary of Salaried Employees in the Police Department: ({confidence_interval[0]}, {confidence_interval[1]})")
else:
    print("Insufficient data for computing the confidence interval.")

Insufficient data for computing the confidence interval.

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [ ]:
# Your code here: